<nav class="navbar navbar-expand-lg bg-light d-flex">
  <div class="container-fluid">
    <a class="navbar-brand text-primary fw-bolder" href="#">Woww</a>
    <a class="nav-link" [routerLink]="['']"  routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Products</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/Login']" routerLinkActive="active-link">Login</a>
        <a class="nav-link" [routerLink]="['/Register']" routerLinkActive="active-link">Register</a>
        <button type="button" class="btn btn-primary position-relative" [routerLink]="['/Cart']">
          <fa-icon [icon]="faCart"></fa-icon>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{totalCartItems}}
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</nav>
