@for (cart of carts; track cart.id) {

<div class="card mb-3 justify-content-around">
  <div class="row">
    <div class="col-2 d-flex align-items-center">
      <img [src]="cart.thumbnail" class="img-fluid rounded-start" />
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="card-body">
        <h5 class="card-title">{{ cart.title }}</h5>
        <p class="card-text">{{ cart.description }}</p>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-center">
      <div class="quantity-control d-flex align-items-center">
        <button
          class="btn btn-primary me-2"
          type="button"
          (click)="increaseQuantity(cart.id)"
        >
          +
        </button>
        <input
          type="text"
          class="form-control text-center border-0 rounded-0"
          [(ngModel)]="cart.quantity"
          readonly
          style="max-width: 40px"
        />
        <button class="btn btn-secondary ms-2" (click)="decreaseQuantity(cart.id)" type="button">-</button>
      </div>
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
      <button class="btn btn-outline-danger" type="button" (click)="removeItem(cart.id)">x</button>
    </div>
    <div class="col-2 d-flex align-items-center justify-content-center">
      <span class="fw-bold">{{ cart.price }}EGP</span>
    </div>
  </div>
</div>

}
<div
  class="d-flex border-info border-3 border-top border-bottom position-relative rounded-pill align-items-center flex-row justify-content-around"
  style="width: 15vw; left: 45vw"
>
  <div class="my-auto">
    <pre class="fw-bold fs-5 mt-3">Total :  {{ getTotalPrice()}} EGP</pre>
  </div>
</div>
